*   {
    font-family: 'Raleway', sans-serif;
    text-align: center;
    padding: 2px;
}

#add_child_body_h2 {
    color: gray;
    font-weight: bold;
    text-align: center;
    font-size: 3em;
}
#avatars {
    text-align: center;
    padding: 20px;
    display: inline-block;
    border: 8px groove gray;
    border-radius: 25px;
}
.avatar {
    width: 100px;
    height: 100px;
    padding: 10px;
}
.go_back {
  color: purple;
  background-color: #AAADAD;
  text-decoration: none;
  border-radius: 15px;
  border: 2px solid gray;
  margin: 25px 5px 0px 5px;
}
.go_back:hover {
  color: black;
  background-color: #8C9191;
  text-decoration: none;
  border-radius: 15px;
  border: 2px solid black;
  margin: 25px 5px 0px 5px;
}
label > input{ /* HIDE RADIO */
  visibility: hidden; /* Makes input not-clickable */
  position: absolute; /* Remove input from document flow */
}
label > input + img{ /* IMAGE STYLES */
  cursor:pointer;
  border:2px solid transparent;
}
label > input:checked + img{ /* (RADIO CHECKED) IMAGE STYLES */
  border:2px solid gray;
  border-radius: 20px;
}
body {
  background-color: #E8E8E8;
}
.buttons {
  color: black;
  font-weight: bold;
  background-color: #AAADAD;
  text-decoration: none;
  border-radius: 15px;
  border: 2px solid gray;
  margin: 25px 5px 0px 5px;
}
.buttons:hover  {
  background-color: black;
  color: white;
  font-weight: bold;
  border: 2px solid white;
  text-decoration: none;
  border-radius: 15px;
  margin: 25px 5px 0px 5px;
}