*   {
    font-family: 'Raleway', sans-serif;
    text-align: center;
}
.faces {
    width: 50px;
    height: 50px;
    display: inline-block;
    border-radius: 25px;
    border: 2px solid black;

}
#faces div {
    display: inline-block;
    margin: 0px 5px;
}
.header	{
	text-align: left;
}
.progress-bar-success {
	color: black;
	font-weight: bold;
	border-radius: 20px;
	border: 1px solid gray;
}
.progress {
	border-radius: 20px;
	background-color: #BABABA;
}
div.container-fluid.nav_bar {
	background-color: #BABABA;
	color: black;
}
body {
	background-color: #E8E8E8;
	padding: 20px;
}
.buttons {
	background-color: white;
	border: 2px solid gray;
	font-weight: bold;
}
.buttons:hover	{
	background-color: black;
	color: white;
	font-weight: bold;
	border: 2px solid white;
}
.page-header {
	border-bottom: 3px double black;
	width: 80%;
	margin: 0 auto;
}