*   {
    font-family: 'Raleway', sans-serif;
    text-align: center;
    margin: 0 auto;
}
body {
  background-color: #E8E8E8;
}
.header {
  border-bottom: 3px double black;
  width: 80%;
  margin: 0 auto;
  padding-top: 2px;
  margin-top: 5px;
  margin-bottom: 10px;
}
.table  {
    border: 3px double black;
    border-radius: 10px;
    color: gray;
    margin-top: 25px;
    width: 80%;
}

.map {
  color: green;
  border-radius: 15px;
  border: 2px solid black;
  margin: 25px 5px 0px 5px;
}
.go_back {
  color: purple;
  text-decoration: none;
  border-radius: 15px;
  border: 2px solid black;
  margin: 25px 5px 0px 5px;
}
.child_image {
  width: 100px;
  height: 100px;
}
.buttons {
  background-color: #AAADAD;
  border: 2px solid gray;
  font-weight: bold;
  margin: 0 auto;
}
.buttons:hover  {
  background-color: black;
  color: white;
  font-weight: bold;
  border: 2px solid white;
}
label > input{ /* HIDE RADIO */
  visibility: hidden; /* Makes input not-clickable */
  position: absolute; /* Remove input from document flow */
}
label > input + img{ /* IMAGE STYLES */
  cursor:pointer;
  border:2px solid transparent;
}
label > input:checked + img{ /* (RADIO CHECKED) IMAGE STYLES */
  border:5px groove #53537A;
  border-radius: 20px;
}
.icons {
    width: 150px;
    height: 150px;
    padding: 5px;
    border-radius: 100%;
    border: 4px ridge gray;
    margin: 10px;
}
.comment-row {
  margin: 0 auto;
  text-align: center;
  width: 75%;
}
.succ-btn {
  width: 20%;
  min-width: 150px;
  color: black;
  border-radius: 15px;
  border: 2px solid black;
  margin: 25px 5px 0px 5px;
}